@import 'main.less';

.container {
  border: 100px solid @gray-border-color;
  background-color: @white;
  border-left-width: 150px;
  border-right-width: 150px;
  padding-bottom: 40px;
}

.image-size {
  border-radius: 100px;
}

.photo,
.header-h {
  margin: auto;
  text-align: center;
}

.photo {
  position: absolute;
  left: 45%;
  top: 25px;
}

.header-h h1 {
  margin-top: 90px;
}

.header-h :nth-child(2) {
  margin-top: 20px;
}

.sperateLine {
  border-bottom: 5px solid @gray;
  margin: 10px auto;
  width: 90%;
}

.aboutMe,
.education {
  margin: 10px 80px;
}

.aboutMe h2,
.education h2 {
  color: @primary-color;
}

.aboutMe p {
  margin: 20px 0px;
}

.yearOfEdu {
  display: inline-block;
  width: 5%;
  height: 50px;
  float: left;
  margin-top: 20px;
}

.yearOfEdu h3 {
  display: inline;
}

.experOfEdu {
  display: inline-block;
  background-color: @gray;
  margin-top: 20px;
  margin-left: 3%;
  height: 65px;
  width: 90%;
  padding-left: 8px;
}

.experOfEdu :first-child {
  font-weight: bold;
  margin-top: 15px;
}

.experOfEdu p {
  margin: 10px 0px;
}

ul {
  margin: 0;
  padding: 0;
}
